.cancelBtn {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--form-btn-width);
  height: var(--form-btn-height);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

.checkboxCancel {
  width: var(--form-btn-height);
  height: var(--form-btn-height);
  background-color: var(--cancel-btn-colour);
  border-radius: 50%;
  border: whitesmoke 2px solid;
  z-index: 2;
  position: relative;
}

.labelCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: calc(var(--form-tag-height) / 2);
  border-bottom-right-radius: calc(var(--form-tag-height) / 2);
  background-color: var(--cancel-btn-colour);
  height: var(--form-tag-height);
  width: var(--form-tag-width);
  position: relative;
  color: whitesmoke;
  font-weight: 600;
  font-size: var(--form-font-size-button);
}

.labelCancel::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translate(-100%, 0);
  background-color: var(--cancel-btn-colour);
  height: var(--form-tag-height);
  width: var(--form-tag-extension-width);
}
