.toggle {
  height: var(--button-height);
  width: 8rem;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid darkgray;
  border-radius: var(--button-border-radius);
  transition: all 300ms ease;
  margin: 5px;
  cursor: pointer;
}

.toggle.active {
  background-color: var(--pill-button-colour);
  border: 2px solid var(--pill-button-colour);
  color: white;
}
